.main {
  display: grid;
  padding: 1rem 2rem 0 2rem;
  max-height: calc(55vw);
  margin: auto;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0.25rem;
  grid-template-rows: calc(5vw) calc(50vw);
  grid-template-areas:
    "header header "
    "sidebar main";

  h1 {
    grid-area: header;
    margin-bottom: 0.5rem;
  }
  .location-board {
    border-style: double;
    border-radius: 0.25rem;
    border-width: 0.25rem;
    border: solid rgb(52, 189, 125);
    grid-area: main;
  }
  .record-input-board {
    border-style: double;
    border-radius: 0.25rem;
    border-width: 0.25rem;
    border: solid rgb(111, 52, 189);
    grid-area: sidebar;
    padding: 0 1rem 0 1rem;
  }
  .details-board {
    border-style: double;
    border-radius: 0.25rem;
    border-width: 0.25rem;
    border: solid rgb(189, 134, 52);
    grid-area: footer;
  }
}
